body {
  background-image: url(meteo-france.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.box-container {
  width: 300px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
}
.box {
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
}
#city,
#city2,
#city3,
#city4,
#city5 {
  background-color: rgb(25, 25, 182);
  text-align: center;
}
#temp,
#temp2,
#temp3,
#temp4,
#temp5 {
  background-color: rgb(30, 155, 3);
}
#humidity,
#humidity2,
#humidity3,
#humidity4,
#humidity5 {
  background-color: rgb(172, 29, 29);
}
#wind,
#wind2,
#wind3,
#wind4,
#wind5 {
  background-color: rgb(3, 150, 155);
}
.form-group {
  width: 50%;
}
